<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Solicitud:</h3>
                        <b-autocomplete
                            v-model="solicitud"
                            placeholder="Folio de la solicitud"
                            :open-on-focus="false"
                            :data="solicitudesFilteredDataObj"
                            field="folio"
                            @select="option => (this.movimiento.id_solicitud = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Fecha:</h3>
                        <input
                            type="date"
                            placeholder="Fecha:"
                            class="form-control mb-2 text-left"
                            v-model="fecha"
                        />
                    </div>
                    <div>
                        <h3>Descripción:</h3>
                        <input
                            type="text"
                            placeholder="Descripción"
                            class="form-control mb-2 text-left"
                            v-model="movimiento.descripcion"
                        />
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input
                            type="text"
                            placeholder="Monto"
                            class="form-control mb-2 text-left"
                            v-model="movimiento.monto"
                        />
                    </div>
                    <div>
                        <h3>Tipo:</h3>
                        <input
                            type="text"
                            placeholder="Tipo"
                            class="form-control mb-2 text-left"
                            v-model="movimiento.tipo"
                        />
                    </div>
                    <div>
                        <h3>Folio:</h3>
                        <input
                            type="text"
                            placeholder="Folio"
                            class="form-control mb-2 text-left"
                            v-model="movimiento.folio"
                        />
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button
                                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                                @click="save()"
                            >
                                Agregar
                            </button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button
                                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                                @click="update()"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    props: {
        movimiento: {},
        solicitudes: {},
        create: "",
    },
    data() {
        return {
            fecha: "",
            solicitud: '',
        };
    },
    computed: {
        solicitudesFilteredDataObj() {
            return this.solicitudes.filter(option => {
                return (
                    String(option.folio)
                        .toLowerCase()
                        .indexOf(this.solicitud) >= 0
                )
            })
        },
    },
    mounted() {
        this.fecha = this.movimiento.fecha.split("T")[0].split("-").join("-");
        this.solicitudes.forEach((solicitud) => {

            if (solicitud.id === this.movimiento.id_solicitud){
                this.solicitud = String(solicitud.folio);
            }
        });
    },
    created() {},
    methods: {
        save() {
            const params = {
                id_solicitud: this.movimiento.id_solicitud,
                fecha: this.fecha,
                descripcion: this.movimiento.descripcion,
                monto: this.movimiento.monto,
                tipo: this.movimiento.tipo,
                folio: this.movimiento.folio,
            };
            axios.post("/movimientos/", params).then((response) => {
                let information = "";
                information = response.data.information;
                if (information === "good") {
                    this.showSuccessNotification("El movimiento ha sido agregado correctamente.");
                } else {
                    this.showErrorNotification("Hubo un error al agregar el movimiento.");
                }
            });
        },
        update() {
            const params = {
                id_solicitud: this.movimiento.id_solicitud,
                fecha: this.fecha,
                descripcion: this.movimiento.descripcion,
                monto: this.movimiento.monto,
                tipo: this.movimiento.tipo,
                folio: this.movimiento.folio,
                id: this.movimiento.id,
            };
            axios
                .put("/movimientos/" + this.movimiento.id, params)
                .then((response) => {
                    let information = "";
                    information = response.data.information;
                    if (information === "good") {
                        this.showSuccessNotification("El movimiento ha sido actualizado correctamente.");
                    } else {
                        this.showErrorNotification("Hubo un error al actualizar el movimiento.");
                    }
                });
        },
    },
};
</script>

<style scoped>
</style>
