<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Solicitud:</h3>
                        <input type="text" placeholder="Solicitud" class="form-control mb-2 text-left " v-model="movimiento.solicitude.folio" disabled>
                    </div>
                    <div>
                        <h3>Fecha:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="new Date(movimiento.fecha).toLocaleDateString()" disabled>
                    </div>
                    <div>
                        <h3>Folio:</h3>
                        <input type="text" placeholder="Folio" class="form-control mb-2 text-left " v-model="movimiento.folio" disabled>
                    </div>
                    <div>
                        <h3>Descripción:</h3>
                        <input type="text" placeholder="Descripción" class="form-control mb-2 text-left " v-model="movimiento.descripcion" disabled>
                    </div>
                    <div>
                        <h3>Tipo:</h3>
                        <input type="text" placeholder="Tipo" class="form-control mb-2 text-left " v-model="movimiento.tipo" disabled>
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input type="text" placeholder="Monto" class="form-control mb-2 text-left " v-model="movimiento.monto" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['movimiento'],
    data(){
        return {

        }
    },
    mounted() {

    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/movimientos/edit/' + this.movimiento.id;
        }
    }
}
</script>

<style scoped>

</style>
