<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Proyecto:</h3>
            <b-autocomplete
              v-model="proyecto"
              placeholder="Nombre proyecto"
              :open-on-focus="true"
              :data="proyectosFilteredDataObj"
              field="nombre"
              @select="
                (option) =>
                  (this.partida.id_proyecto = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </div>
          <div>
            <h3>Número:</h3>
            <input
              type="text"
              placeholder="Número"
              class="form-control mb-2 text-left"
              v-model="partida.numero"
            />
          </div>
          <div>
            <h3>Monto:</h3>
            <input
              type="text"
              placeholder="Monto"
              class="form-control mb-2 text-left"
              v-model="partida.monto"
            />
          </div>
          <div>
            <h3>Descripción:</h3>
            <input
              type="text"
              placeholder="Descripción"
              class="form-control mb-2 text-left"
              v-model="partida.descripcion"
            />
          </div>
          <div>
            <h3>COG:</h3>
            <input
              type="text"
              placeholder="COG"
              class="form-control mb-2 text-left"
              v-model="partida.cog"
            />
          </div>

          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    partida: {},
    proyectos: {},
    create: "",
  },
  data() {
    return {
      proyecto: "",
    };
  },
  computed: {
    proyectosFilteredDataObj() {
      return this.proyectos.filter((option) => {
        return String(option.nombre).indexOf(this.proyecto) >= 0;
      });
    },
  },
  mounted() {
    this.proyectos.forEach((proyecto) => {
      if (proyecto.id === this.partida.id_proyecto) {
        this.proyecto = String(proyecto.nombre);
      }
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_proyecto: this.partida.id_proyecto,
        numero: this.partida.numero,
        monto: this.partida.monto,
        descripcion: this.partida.descripcion,
        cog: this.partida.cog,
      };
      this.showSuccessNotification("Agregar", params);
      axios.post("/partidas/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("La partida ha sido agregada correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al agregar la partida.");
        }
      });
    },
    update() {
      const params = {
        id_proyecto: this.partida.id_proyecto,
        numero: this.partida.numero,
        monto: this.partida.monto,
        descripcion: this.partida.descripcion,
        cog: this.partida.cog,
        id: this.partida.id,
      };
      axios.put("/partidas/" + this.partida.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("La partida ha sido actualizada correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al actualizar la partida.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
