<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Proyecto:</h3>
                        <input type="text" placeholder="Proyecto" class="form-control mb-2 text-left " v-model="partida.proyecto.nombre" disabled>
                    </div>
                    <div>
                        <h3>Numero:</h3>
                        <input type="text" placeholder="Numero" class="form-control mb-2 text-left " v-model="partida.numero" disabled>
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input type="text" placeholder="Monto" class="form-control mb-2 text-left " v-model="partida.monto" disabled>
                    </div>
                    <div>
                        <h3>Descripción:</h3>
                        <input type="text" placeholder="Descripción" class="form-control mb-2 text-left " v-model="partida.descripcion" disabled>
                    </div>
                    <div>
                        <h3>COG:</h3>
                        <input type="text" placeholder="COG" class="form-control mb-2 text-left " v-model="partida.cog" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['partida'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/partidas/edit/' + this.partida.id;
        }
    }
}
</script>

<style scoped>

</style>
