<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Status:</h3>
                        <b-select
                            v-model="compensacion.id_status"
                            placeholder="Selecciona el status"
                        >
                            <option v-for="statu in status" :value="statu.id" :key="statu.id">
                                {{ statu.concepto }}
                            </option>
                        </b-select>
                    </div>
                    <div>
                        <h3>Fecha:</h3>
                        <input
                            type="date"
                            placeholder="Fecha:"
                            class="form-control mb-2 text-left"
                            v-model="fecha"
                        />
                    </div>
                    <div>
                        <h3>Folio:</h3>
                        <input
                            type="text"
                            placeholder="Folio"
                            class="form-control mb-2 text-left"
                            v-model="compensacion.folio"
                        />
                    </div>
                    <div>
                        <h3>Destino:</h3>
                        <input
                            type="text"
                            placeholder="Destino"
                            class="form-control mb-2 text-left"
                            v-model="compensacion.destino"
                        />
                    </div>
                    <div>
                        <h3>Justificacion:</h3>
                        <input
                            type="text"
                            placeholder="Justificacion"
                            class="form-control mb-2 text-left"
                            v-model="compensacion.justificacion"
                        />
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input
                            type="text"
                            placeholder="Monto"
                            class="form-control mb-2 text-left"
                            v-model="compensacion.monto"
                        />
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button
                                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                                @click="save()"
                            >
                                Agregar
                            </button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button
                                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                                @click="update()"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    props: {
        compensacion: {},
        status: {},
        create: "",
    },
    data() {
        return {
            fecha: "",
        };
    },
    mounted() {
        this.fecha = this.compensacion.fecha.split("T")[0].split("-").join("-");
    },
    created() {},
    methods: {
        save() {
            const params = {
                id_status: this.compensacion.id_status,
                fecha: this.fecha,
                folio: this.compensacion.folio,
                destino: this.compensacion.destino,
                justificacion: this.compensacion.justificacion,
                monto: this.compensacion.monto,
            };
            axios.post("/compensaciones/", params).then((response) => {
                let information = "";
                information = response.data.information;
                if (information === "good") {
                    this.showSuccessNotification("La compenzación ha sido agregada correctamente.");
                } else {
                    this.showErrorNotification("Hubo un error al agregar la compenzación.");
                }
            });
        },
        update() {
            const params = {
                id_status: this.compensacion.id_status,
                fecha: this.fecha,
                folio: this.compensacion.folio,
                destino: this.compensacion.destino,
                justificacion: this.compensacion.justificacion,
                monto: this.compensacion.monto,
                id: this.compensacion.id,
            };
            axios
                .put("/compensaciones/" + this.compensacion.id, params)
                .then((response) => {
                    let information = "";
                    information = response.data.information;
                    if (information === "good") {
                        this.showSuccessNotification("La compenzación ha sido actualizada correctamente.");
                    } else {
                        this.showErrorNotification("Hubo un error al actualizar la compenzación.");
                    }
                });
        },
    },
};
</script>

<style scoped>
</style>
