<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="mr-4 mt-2">
      <b-field label="Nombre:">
        <b-input
          v-model="beneficiario.nombre"
          placeholder="Nombre"
        ></b-input>
      </b-field>
    </div>
    <div class="mr-4 mt-2">
      <b-field label="Dependencia:">
        <b-autocomplete
          v-model="dependencia"
          placeholder="Nombre de la dependencia"
          :open-on-focus="true"
          :data="dependenciasFilteredDataObj"
          field="nombre"
          @select="
            (option) =>
              (this.beneficiario.id_dependencia = selected = option.id)
          "
          :clearable="true"
        >
        </b-autocomplete>
      </b-field>
    </div>
    <div class="mr-4 mt-2">
      <b-field label="Cuenta:">
        <b-input
          v-model="beneficiario.cuenta"
          placeholder="Cuenta"
        ></b-input>
      </b-field>
    </div>
    <div class="mr-4 mt-2">
      <b-field label="Código:">
        <b-input
          v-model="beneficiario.codigo"
          placeholder="Código"
        ></b-input>
      </b-field>
    </div>
    <div class="mr-4 mt-2">
      <b-field label="Observaciones:">
        <b-input
          v-model="beneficiario.observaciones"
          placeholder="Observaciones"
        ></b-input>
      </b-field>
    </div>
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">

          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    beneficiario: {},
    dependencias: {},
    create: "",
  },
  data() {
    return {
      dependencia: "",
    };
  },
  computed: {
    dependenciasFilteredDataObj() {
      return this.dependencias.filter((option) => {
        return String(option.nombre).indexOf(this.dependencia) >= 0;
      });
    },
  },
  mounted() {
    this.dependencias.forEach((dependencia) => {
      if (dependencia.id === this.beneficiario.id_dependencia) {
        this.dependencia = String(dependencia.nombre);
      }
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        nombre: this.beneficiario.nombre,
        id_dependencia: this.beneficiario.id_dependencia,
        cuenta: this.beneficiario.cuenta,
        codigo: this.beneficiario.codigo,
        observaciones: this.beneficiario.observaciones,
      };
      axios.post("/beneficiarios/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El beneficiario ha sido agregado correctamente."
          );
        } else {
          this.showErrorNotification(
            "Hubo un error al agregar el beneficiario."
          );
        }
      });
    },
    update() {
      const params = {
        nombre: this.beneficiario.nombre,
        id_dependencia: this.beneficiario.id_dependencia,
        cuenta: this.beneficiario.cuenta,
        codigo: this.beneficiario.codigo,
        observaciones: this.beneficiario.observaciones,
        id: this.beneficiario.id,
      };
      axios
        .put("/beneficiarios/" + this.beneficiario.id, params)
        .then((response) => {
          let information = "";
          information = response.data.information;
          if (information === "good") {
            this.showSuccessNotification(
              "El beneficiario ha sido actualizado correctamente."
            );
          } else {
            this.showErrorNotification(
              "Hubo un error al actualizar el beneficiario."
            );
          }
        });
    },
  },
};
</script>

<style scoped>
</style>
