<template>
  <div>
    <br />
    <b-navbar>
      <!--            <template #brand>-->
      <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <!--                    <img-->
      <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
      <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
      <!--                    >-->
      <!--                </b-navbar-item>-->
      <!--            </template>-->
      <template #start>
        <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
          Agregar
        </b-navbar-item>
        <!--                <b-navbar-item  href="#">-->
        <!--                    Documentacion-->
        <!--                </b-navbar-item>-->
      </template>

      <template #end>
        <b-navbar-dropdown label="Buscar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Ordenar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <!--                <b-navbar-item tag="div">-->
        <!--                    <div class="buttons">-->
        <!--                        <a class="button is-primary">-->
        <!--                            <strong>Sign up</strong>-->
        <!--                        </a>-->
        <!--                        <a class="button is-light">-->
        <!--                            Log in-->
        <!--                        </a>-->
        <!--                    </div>-->
        <!--                </b-navbar-item>-->
      </template>
    </b-navbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dependencia</th>
          <th scope="col">Cuenta</th>
          <th scope="col">Código</th>
          <th scope="col">Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(beneficiario, index) in listaBeneficiarios"
          :key="beneficiario.id"
        >
          <th scope="row">{{ beneficiario.id }}</th>
          <td>{{ beneficiario.nombre }}</td>
          <td>{{ beneficiario.dependencia.nombre }}</td>
          <td>{{ beneficiario.cuenta }}</td>
          <td>{{ beneficiario.codigo }}</td>
          <td>{{ beneficiario.observaciones }}</td>
          <td>
            <button
              class="btn btn-info m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDetail(beneficiario.id)"
            >
              Detalles
            </button>
            <button
              class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
              v-on:click="onClickEdit(beneficiario.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDelete(beneficiario.id, index)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "beneficiarioTableComponent",
  props: {
    beneficiarios: {},
  },
  data() {
    return {
      listaBeneficiarios: this.beneficiarios,
    };
  },
  created() {},
  mounted() {},
  methods: {
    gotoCreate() {
      window.location.href = "/beneficiarios/create";
    },
    onClickDetail(id) {
      window.location.href = "/beneficiarios/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/beneficiarios/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar beneficiario",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> este beneficiario? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios.delete("/beneficiarios/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "El beneficiario ha sido eliminado exitosamente."
              );
          this.listaBeneficiarios.splice(index, 1);
            } else {
              this.showErrorNotification(
                "El beneficiario no pudo ser eliminado."
              );
            }
          });
        },
      });
    },
  },
};
</script>

<style scoped>
</style>
