<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Numero de cuenta:</h3>
                        <input type="text" placeholder="Numero de cuenta" class="form-control mb-2 text-left " v-model="cuenta.num_cuenta">
                    </div>
                    <div>
                        <h3>Banco:</h3>
                        <b-select v-model="cuenta.id_banco" placeholder="Selecciona el nombre del banco">
                            <option
                                v-for="banco in bancos"
                                :value="banco.id"
                                :key="banco.id">
                                {{ banco.nombre }}
                            </option>
                        </b-select>
<!--                        <input type="text" placeholder="Banco" class="form-control mb-2 text-left " v-model="cuenta.numero">-->
                    </div>
                    <div>
                        <h3>Clabe:</h3>
                        <input type="text" placeholder="Clabe" class="form-control mb-2 text-left " v-model="cuenta.clabe">
                    </div>

                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        cuenta:{},
        bancos:{},
        create: ''
    },
    data(){
        return {
        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        save(){
            const params = {
                num_cuenta: this.cuenta.num_cuenta,
                id_banco: this.cuenta.id_banco,
                clabe: this.cuenta.clabe,
            }
            axios.post('/cuentas/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La cuenta ha sido agregada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregar la cuenta.')
                }
            });
        },
        update() {
            const params = {
                num_cuenta: this.cuenta.num_cuenta,
                id_banco: this.cuenta.id_banco,
                clabe: this.cuenta.clabe,
                id: this.cuenta.id,
            }
            axios.put('/cuentas/'+this.cuenta.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La cuenta ha sido actualizada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar la cuenta.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
