<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Numero de cuenta:</h3>
                        <input type="text" placeholder="Numero de cuenta" class="form-control mb-2 text-left " v-model="cuenta.num_cuenta" disabled>
                    </div>
                    <div>
                        <h3>Banco:</h3>
                        <input type="text" placeholder="Banco" class="form-control mb-2 text-left " v-model="cuenta.banco.nombre" disabled>
                    </div>
                    <div>
                        <h3>Clabe:</h3>
                        <input type="text" placeholder="Clabe" class="form-control mb-2 text-left " v-model="cuenta.clabe" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['cuenta'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/cuentas/edit/' + this.cuenta.id;
        }
    }
}
</script>

<style scoped>

</style>
