<template>
  <div>
    <br />
    <b-navbar>
      <!--            <template #brand>-->
      <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <!--                    <img-->
      <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
      <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
      <!--                    >-->
      <!--                </b-navbar-item>-->
      <!--            </template>-->
      <template #start>
        <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
          Agregar
        </b-navbar-item>
        <!--                <b-navbar-item  href="#">-->
        <!--                    Documentacion-->
        <!--                </b-navbar-item>-->
      </template>

      <template #end>
        <b-navbar-dropdown label="Buscar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Ordenar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <!--                <b-navbar-item tag="div">-->
        <!--                    <div class="buttons">-->
        <!--                        <a class="button is-primary">-->
        <!--                            <strong>Sign up</strong>-->
        <!--                        </a>-->
        <!--                        <a class="button is-light">-->
        <!--                            Log in-->
        <!--                        </a>-->
        <!--                    </div>-->
        <!--                </b-navbar-item>-->
      </template>
    </b-navbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Numero de cuenta</th>
          <th scope="col">Banco</th>
          <th scope="col">Clabe</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(cuenta, index) in listaCuentas" :key="cuenta.id">
          <th scope="row">{{ cuenta.id }}</th>
          <td>{{ cuenta.num_cuenta }}</td>
          <td>{{ cuenta.banco.nombre }}</td>
          <td>{{ cuenta.clabe }}</td>
          <td>
            <button
              class="btn btn-info m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDetail(cuenta.id)"
            >
              Detalles
            </button>
            <button
              class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
              v-on:click="onClickEdit(cuenta.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDelete(cuenta.id, index)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "CuentaTableComponent",
  props: {
    cuentas: {},
  },
  data() {
    return {
      listaCuentas: this.cuentas,
    };
  },
  created() {},
  mounted() {},
  methods: {
    gotoCreate() {
      window.location.href = "/cuentas/create";
    },
    onClickDetail(id) {
      window.location.href = "/cuentas/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/cuentas/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar cuenta",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta cuenta? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios.delete("/cuentas/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.listaCuentas.splice(index, 1);
              this.showSuccessNotification(
                "La cuenta ha sido eliminada exitosamente."
              );
            } else {
              this.showErrorNotification("La cuenta no pudo ser eliminada.");
            }
          });
        },
      });
    },
  },
};
</script>

<style scoped>
</style>
