<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Partida:</h3>
                        <b-autocomplete
                            v-model="partida"
                            placeholder="Nombre de la partida"
                            :open-on-focus="true"
                            :data="partidasFilteredDataObj"
                            field="numero"
                            @select="option => (this.saldo_partida.id_partida = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Fondo:</h3>
                        <b-autocomplete
                            v-model="fondo"
                            placeholder="Nombre del fondo"
                            :open-on-focus="true"
                            :data="fondosFilteredDataObj"
                            field="nombre"
                            @select="option => (this.saldo_partida.id_fondo = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Inicial:</h3>
                        <input type="number" min="0" step="0.01" placeholder="Tipo" class="form-control mb-2 text-left " v-model="saldo_partida.inicial" >
                    </div>
                    <div>
                        <h3>Capturado:</h3>
                        <input type="number" min="0" step="0.01" placeholder="Capturado" class="form-control mb-2 text-left " v-model="saldo_partida.capturado" >
                    </div>
                    <div>
                        <h3>Solicitado:</h3>
                        <input min="0" step="0.01" type="number" placeholder="Solicitado" class="form-control mb-2 text-left " v-model="saldo_partida.solicitado" >
                    </div>
                    <div>
                        <h3>Pagado:</h3>
                        <input min="0" step="0.01" type="number" placeholder="Pagado" class="form-control mb-2 text-left " v-model="saldo_partida.pagado" >
                    </div>
                    <div>
                        <h3>Compensado:</h3>
                        <input min="0" type="number" step="0.01" placeholder="Compensado" class="form-control mb-2 text-left " v-model="saldo_partida.compensado" >
                    </div>
                    <div>
                        <h3>Porcentaje compensado:</h3>
                        <input min="0" type="number" step="0.01" placeholder="Porcentaje compensado" class="form-control mb-2 text-left " v-model="saldo_partida.porcentaje_compensado" >
                    </div>
                    <div>
                        <h3>Saldo:</h3>
                        <input type="number" step="0.01" min="0" placeholder="Saldo" class="form-control mb-2 text-left " v-model="saldo_partida.saldo" >
                    </div>
                    <div>
                        <h3>Adeudo:</h3>
                        <input min="0" type="number" step="0.01" placeholder="Adeudo" class="form-control mb-2 text-left " v-model="saldo_partida.adeudo" >
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        saldo_partida:{},
        partidas:{},
        fondos:{},
        create: '',
    },
    data(){
        return {
            name: '',
            partida: '',
            fondo: '',
            selected: null,
        }
    },
    computed:{
        partidasFilteredDataObj() {
            return this.partidas.filter(option => {
                return (
                    String(option.numero)
                        .toLowerCase()
                        .indexOf(String(this.partida).toLowerCase()) >= 0
                )
            })
        },
        fondosFilteredDataObj() {
            return this.fondos.filter(option => {
                return (
                    option.nombre
                        .toLowerCase()
                        .indexOf(this.fondo.toLowerCase()) >= 0
                )
            })
        },
    },
    mounted() {

        this.partidas.forEach((partida) => {
            if (partida.id === this.saldo_partida.id_partida) this.partida = partida.numero;
        });
        this.fondos.forEach((fondo) => {
            if (fondo.id === this.saldo_partida.id_fondo) this.fondo = fondo.nombre;
        });
    },
    created() {
    },
    methods:{
        save(){
            const params = {
                id_partida : this.saldo_partida.id_partida,
                id_fondo : this.saldo_partida.id_fondo,
                inicial : this.saldo_partida.inicial,
                capturado : this.saldo_partida.capturado,
                solicitado : this.saldo_partida.solicitado,
                pagado : this.saldo_partida.pagado,
                porcentaje_compensado : this.saldo_partida.porcentaje_compensado,
                saldo : this.saldo_partida.saldo,
                compensado : this.saldo_partida.compensado,
                adeudo : this.saldo_partida.adeudo,
            }
            axios.post('/saldo_partidas/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El saldo ha sido agregado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregar el saldo.')
                }
            });
        },
        update() {
            const params = {
                id_partida : this.saldo_partida.id_partida,
                id_fondo : this.saldo_partida.id_fondo,
                inicial : this.saldo_partida.inicial,
                capturado : this.saldo_partida.capturado,
                solicitado : this.saldo_partida.solicitado,
                pagado : this.saldo_partida.pagado,
                porcentaje_compensado : this.saldo_partida.porcentaje_compensado,
                saldo : this.saldo_partida.saldo,
                compensado : this.saldo_partida.compensado,
                adeudo : this.saldo_partida.adeudo,
                id: this.saldo_partida.id,
            }
            axios.put('/saldo_partidas/'+this.saldo_partida.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El saldo ha sido actualizado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar el saldo.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
