<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>ID:</h3>
                        <input type="text" placeholder="ID" class="form-control mb-2 text-left " v-model="saldo_partida.id" disabled>
                    </div>
                    <div>
                        <h3>Partida:</h3>
                        <input type="text" placeholder="Partida" class="form-control mb-2 text-left " v-model="saldo_partida.partida.numero" disabled>
                    </div>
                    <div>
                        <h3>Fondo:</h3>
                        <input type="text" placeholder="Fondo" class="form-control mb-2 text-left " v-model="saldo_partida.fondo.nombre" disabled>
                    </div>

                    <div>
                        <h3>Inicial:</h3>
                        <input type="number" placeholder="Inicial" class="form-control mb-2 text-left " v-model="saldo_partida.inicial" disabled>
                    </div>
                    <div>
                        <h3>Capturado:</h3>
                        <input type="number" placeholder="Capturado" class="form-control mb-2 text-left " v-model="saldo_partida.capturado" disabled>
                    </div>
                    <div>
                        <h3>Solicitado:</h3>
                        <input type="number" placeholder="Solicitado" class="form-control mb-2 text-left " v-model="saldo_partida.solicitado" disabled>
                    </div>
                    <div>
                        <h3>Pagado:</h3>
                        <input type="number" placeholder="Pagado" class="form-control mb-2 text-left " v-model="saldo_partida.pagado" disabled>
                    </div>
                    <div>
                        <h3>Compensado:</h3>
                        <input type="number" placeholder="Compensado" class="form-control mb-2 text-left " v-model="saldo_partida.compensado" disabled>
                    </div>
                    <div>
                        <h3>Porcentaje compensado:</h3>
                        <input type="number" placeholder="Porcentaje compensado" class="form-control mb-2 text-left " v-model="saldo_partida.porcentaje_compensado" disabled>
                    </div>
                    <div>
                        <h3>Saldo:</h3>
                        <input type="number" placeholder="Saldo" class="form-control mb-2 text-left " v-model="saldo_partida.saldo" disabled>
                    </div>
                    <div>
                        <h3>Adeudo:</h3>
                        <input type="number" placeholder="Saldo" class="form-control mb-2 text-left " v-model="saldo_partida.adeudo" disabled>
                    </div>






                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['saldo_partida'],
    data(){
        return {

        }
    },
    mounted() {

    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/saldo_partidas/edit/' + this.saldo_partida.id;
        }
    }
}
</script>

<style scoped>

</style>
