<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Numero:</h3>
                        <input type="text" placeholder="Numero" class="form-control mb-2 text-left " v-model="bolsa.numero">
                    </div>
                    <div>
                        <h3>Nombre:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="bolsa.nombre">
                    </div>
                    <div>
                        <h3>Fondo:</h3>
                        <b-autocomplete
                            v-model="fondo"
                            placeholder="Número de fondo"
                            :open-on-focus="true"
                            :data="fondosFilteredDataObj"
                            field="numero"
                            @select="option => (this.bolsa.id_fondo = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Fuente de financiamiento:</h3>
                        <input type="text" placeholder="Fuente de financiamiento" class="form-control mb-2 text-left " v-model="bolsa.fuente_financiamento">
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        bolsa:{},
        fondos:{},
        create: ''
    },
    data(){
        return {
          fondo: '',
        }
    },
    computed: {
        fondosFilteredDataObj() {
            return this.fondos.filter(option => {
                return (
                    String(option.numero)
                        .toLowerCase()
                        .indexOf(this.fondo) >= 0
                )
            })
        },
    },
    mounted() {
      this.fondos.forEach((fondo) => {

            if (fondo.id === this.bolsa.id_fondo){
                this.fondo = String(fondo.numero);
            }
        });
    },
    created() {
    },
    methods:{
        save(){
            const params = {
                numero: this.bolsa.numero,
                nombre: this.bolsa.nombre,
                id_fondo: this.bolsa.id_fondo,
                fuente_financiamento: this.bolsa.fuente_financiamento,
            }
            axios.post('/bolsas/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La bolsa ha sido agregada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregar la bolsa.')
                }
            });
        },
        update() {
            const params = {
                numero: this.bolsa.numero,
                nombre: this.bolsa.nombre,
                id_fondo: this.bolsa.id_fondo,
                fuente_financiamento: this.bolsa.fuente_financiamento,
                id: this.bolsa.id,
            }
            axios.put('/bolsas/'+this.bolsa.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La bolsa ha sido actualizada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar la bolsa.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
