<template>
  <div>
    <br />
    <b-navbar>
      <!--            <template #brand>-->
      <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <!--                    <img-->
      <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
      <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
      <!--                    >-->
      <!--                </b-navbar-item>-->
      <!--            </template>-->
      <template #start>
        <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
          Agregar
        </b-navbar-item>
        <!--                <b-navbar-item  href="#">-->
        <!--                    Documentacion-->
        <!--                </b-navbar-item>-->
      </template>

      <template #end>
        <b-navbar-dropdown label="Buscar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Ordenar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <!--                <b-navbar-item tag="div">-->
        <!--                    <div class="buttons">-->
        <!--                        <a class="button is-primary">-->
        <!--                            <strong>Sign up</strong>-->
        <!--                        </a>-->
        <!--                        <a class="button is-light">-->
        <!--                            Log in-->
        <!--                        </a>-->
        <!--                    </div>-->
        <!--                </b-navbar-item>-->
      </template>
    </b-navbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Número</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fondo</th>
          <th scope="col">Fuente financiamiento</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(bolsa, index) in listaBolsas" :key="bolsa.id">
          <th scope="row">{{ bolsa.id }}</th>
          <td>{{ bolsa.numero }}</td>
          <td>{{ bolsa.nombre }}</td>
          <td>{{ bolsa.fondo.numero }}</td>
          <td>{{ bolsa.fuente_financiamento }}</td>
          <td>
            <button
              class="btn btn-info m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDetail(bolsa.id)"
            >
              Detalles
            </button>
            <button
              class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
              v-on:click="onClickEdit(bolsa.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDelete(bolsa.id, index)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "bolsaTableComponent",
  props: {
    bolsas: {},
  },
  data() {
    return {
      listaBolsas: this.bolsas,
    };
  },
  created() {},
  mounted() {},
  methods: {
    gotoCreate() {
      window.location.href = "/bolsas/create";
    },
    onClickDetail(id) {
      window.location.href = "/bolsas/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/bolsas/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar bolsa",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta bolsa? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios.delete("/bolsas/" + id).then((res) => {
            if (res.data["information"] === "good") {
              this.showSuccessNotification(
                "La bolsa ha sido eliminada exitosamente."
              );
          this.listaBolsas.splice(index, 1);
            } else {
              this.showErrorNotification("La bolsa no pudo ser eliminada.");
            }
          });
        },
      });
    },
  },
};
</script>

<style scoped>
</style>
