<template>
  <div>
    <br />
    <b-navbar>
      <!--            <template #brand>-->
      <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <!--                    <img-->
      <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
      <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
      <!--                    >-->
      <!--                </b-navbar-item>-->
      <!--            </template>-->
      <template #start>
        <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
          Agregar
        </b-navbar-item>
        <!--                <b-navbar-item  href="#">-->
        <!--                    Documentacion-->
        <!--                </b-navbar-item>-->
      </template>

      <template #end>
        <b-navbar-dropdown label="Buscar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Ordenar">
          <b-navbar-item href="#"> Nombre </b-navbar-item>
          <b-navbar-item href="#"> Folio </b-navbar-item>
        </b-navbar-dropdown>
        <!--                <b-navbar-item tag="div">-->
        <!--                    <div class="buttons">-->
        <!--                        <a class="button is-primary">-->
        <!--                            <strong>Sign up</strong>-->
        <!--                        </a>-->
        <!--                        <a class="button is-light">-->
        <!--                            Log in-->
        <!--                        </a>-->
        <!--                    </div>-->
        <!--                </b-navbar-item>-->
      </template>
    </b-navbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Solicitud</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(
            complemento_pago_archivo, index
          ) in list_complemento_pago_archivos"
          :key="complemento_pago_archivo.id"
        >
          <th scope="row">{{ complemento_pago_archivo.id }}</th>
          <td>{{ complemento_pago_archivo.nombre }}</td>
          <td>{{ complemento_pago_archivo.solicitud.folio }}</td>
          <td>
            <button
              class="btn btn-info m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDetail(complemento_pago_archivo.id)"
            >
              Detalles
            </button>
            <button
              class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
              v-on:click="onClickEdit(complemento_pago_archivo.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDelete(complemento_pago_archivo.id, index)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "PaquetesSolicitudesTableComponent",
  props: {
    complemento_pago_archivos: {},
  },
  data() {
    return {
      list_complemento_pago_archivos: this.complemento_pago_archivos,
    };
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/complemento_pago_archivos/create";
      },
    onClickDetail(id) {
      window.location.href = "/complemento_pago_archivos/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/complemento_pago_archivos/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar archivo de complemento de pago",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> este archivo de complemento de pago? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          axios.delete("/complemento_pago_archivos/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "El archivo ha sido eliminada exitosamente."
              );
          this.list_complemento_pago_archivos.splice(index, 1);
            } else {
              this.showErrorNotification(
                "El archvio no pudo ser eliminada."
              );
            }
          });
        },
          
      });
    },
  },
};
</script>

<style scoped>
</style>
