<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Solicitud:</h3>
            <b-autocomplete
              v-model="solicitud"
              placeholder="Folio de la solicitud"
              :open-on-focus="false"
              :data="solicitudesFilteredDataObj"
              field="folio"
              @select="
                (option) =>
                  (this.reintegro.id_solicitud = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
            
          </div>
          <div>
            <h3>Fecha:</h3>
            <input
              type="date"
              placeholder="Fecha:"
              class="form-control mb-2 text-left"
              v-model="fecha"
            />
          </div>
          <div>
            <h3>Folio:</h3>
            <input
              type="text"
              placeholder="Folio"
              class="form-control mb-2 text-left"
              v-model="reintegro.folio"
            />
          </div>
          <div>
            <h3>Concepto:</h3>
            <input
              type="text"
              placeholder="Concepto"
              class="form-control mb-2 text-left"
              v-model="reintegro.concepto"
            />
          </div>
          <div>
            <h3>Referencia:</h3>
            <input
              type="text"
              placeholder="Referencia"
              class="form-control mb-2 text-left"
              v-model="reintegro.referencia"
            />
          </div>
          <div>
            <h3>Monto:</h3>
            <input
              type="text"
              placeholder="Monto"
              class="form-control mb-2 text-left"
              v-model="reintegro.monto"
            />
          </div>
          <div>
            <h3>Observaciones:</h3>
            <input
              type="text"
              placeholder="Observaciones"
              class="form-control mb-2 text-left"
              v-model="reintegro.observaciones"
            />
          </div>
          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    reintegro: {},
    solicitudes: {},
    create: "",
  },
  data() {
    return {
      solicitud: "",
      fecha: "",
    };
  },

    computed: {
        solicitudesFilteredDataObj() {
            return this.solicitudes.filter(option => {
                return (
                    String(option.folio)
                        .toLowerCase()
                        .indexOf(this.solicitud) >= 0
                )
            })
        },
    },
  mounted() {
    this.solicitudes.forEach((solicitud) => {
      if (solicitud.id === this.reintegro.id_solicitud) {
        this.solicitud = String(solicitud.folio);
      }
    });
    this.fecha = this.reintegro.fecha.split("T")[0].split("-").join("-");
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_solicitud: this.reintegro.id_solicitud,
        fecha: this.fecha,
        folio: this.reintegro.folio,
        concepto: this.reintegro.concepto,
        referencia: this.reintegro.referencia,
        monto: this.reintegro.monto,
        observaciones: this.reintegro.observaciones,
      };
      axios.post("/reintegros/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El reintegro ha sido agregado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al agregar el reintegro.");
        }
      });
    },
    update() {
      const params = {
        id_solicitud: this.reintegro.id_solicitud,
        fecha: this.fecha,
        folio: this.reintegro.folio,
        concepto: this.reintegro.concepto,
        referencia: this.reintegro.referencia,
        monto: this.reintegro.monto,
        observaciones: this.reintegro.observaciones,
        id: this.reintegro.id,
      };
      axios.put("/reintegros/" + this.reintegro.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El reintegro ha sido actualizado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al actualizar el reintegro.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
