<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Solicitud:</h3>
                        <input type="text" placeholder="Solicitud" class="form-control mb-2 text-left " v-model="reintegro.solicitude.folio" disabled>
                    </div>
                    <div>
                        <h3>Fecha:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="new Date(reintegro.fecha).toLocaleDateString()" disabled>
                    </div>
                    <div>
                        <h3>Folio:</h3>
                        <input type="text" placeholder="Folio" class="form-control mb-2 text-left " v-model="reintegro.folio" disabled>
                    </div>
                    <div>
                        <h3>Concepto:</h3>
                        <input type="text" placeholder="Concepto" class="form-control mb-2 text-left " v-model="reintegro.concepto" disabled>
                    </div>
                    <div>
                        <h3>Referencia:</h3>
                        <input type="text" placeholder="Referencia" class="form-control mb-2 text-left " v-model="reintegro.referencia" disabled>
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input type="text" placeholder="Monto" class="form-control mb-2 text-left " v-model="reintegro.monto" disabled>
                    </div>
                    <div>
                        <h3>Observaciones:</h3>
                        <input type="text" placeholder="Observaciones" class="form-control mb-2 text-left " v-model="reintegro.observaciones" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['reintegro'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/reintegros/edit/' + this.reintegro.id;
        }
    }
}
</script>

<style scoped>

</style>
