<template>
    <div>
        <br>
        <b-navbar>
            <!--            <template #brand>-->
            <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
            <!--                    <img-->
            <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
            <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
            <!--                    >-->
            <!--                </b-navbar-item>-->
            <!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
                <!--                <b-navbar-item  href="#">-->
                <!--                    Documentacion-->
                <!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--                <b-navbar-item tag="div">-->
                <!--                    <div class="buttons">-->
                <!--                        <a class="button is-primary">-->
                <!--                            <strong>Sign up</strong>-->
                <!--                        </a>-->
                <!--                        <a class="button is-light">-->
                <!--                            Log in-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Solicitud</th>
        <th scope="col">Fecha</th>
        <th scope="col">Folio</th>
        <th scope="col">Concepto</th>
        <th scope="col">Referencia</th>
        <th scope="col">Monto</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(reintegro, index) in lista_reintegros" :key="reintegro.id">
        <th scope="row">{{ reintegro.id }}</th>
        <td>{{ reintegro.solicitude.folio }}</td>
        <td>{{ new Date(reintegro.fecha).toLocaleDateString() }}</td>
        <td>{{ reintegro.folio }}</td>
        <td>{{ reintegro.concepto }}</td>
        <td>{{ reintegro.referencia }}</td>
        <td>{{ reintegro.monto }}</td>
        <td>{{ reintegro.observaciones }}</td>
        <td>
          <button
            class="btn btn-info m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDetail(reintegro.id)"
          >
            Detalles
          </button>
          <button
            class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
            v-on:click="onClickEdit(reintegro.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDelete(reintegro.id, index)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
</template>

<script>
export default {
  name: "ReintegroTableComponent",
  props: {
    reintegros: {},
  },
  data() {
    return {
      lista_reintegros: this.reintegros,
    };
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/reintegros/create";
      },
    onClickDetail(id) {
      window.location.href = "/reintegros/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/reintegros/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar reintegro",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> este reintegro? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/reintegros/" + id).then((res) => {
            if (res.data["information"] === "good") {
              this.showSuccessNotification(
                "El reintegro ha sido eliminado exitosamente."
              );
              this.lista_reintegros.splice(index, 1);
            } else {
              this.showErrorNotification(
                "El reintegro no pudo ser eliminado."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
