<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Folio Fiscal:</h3>
            <input
              type="text"
              placeholder="Folio Fiscal"
              class="form-control mb-2 text-left"
              v-model="factura.folio_fiscal"
            />
          </div>
          <div>
            <h3>Status:</h3>
            <b-select
              v-model="factura.id_status"
              placeholder="Selecciona el status"
            >
              <option v-for="sta in status" :value="sta.id" :key="sta.id">
                {{ sta.concepto }}
              </option>
            </b-select>
          </div>
          <div>
            <h3>Metodo:</h3>
            <b-select
              v-model="factura.id_metodo"
              placeholder="Selecciona el metodo"
            >
              <option v-for="met in metodos" :value="met.id" :key="met.id">
                {{ met.nombre }}
              </option>
            </b-select>
          </div>
          <div>
            <h3>Forma de pago:</h3>
            <b-select
              v-model="factura.id_forma_pago"
              placeholder="Selecciona la forma de pago"
            >
              <option
                v-for="forma_pago in forma_pagos"
                :value="forma_pago.id"
                :key="forma_pago.id"
              >
                {{ forma_pago.nombre }}
              </option>
            </b-select>
          </div>
          <div>
            <h3>Solicitud:</h3>
            <b-autocomplete
              v-model="solicitud"
              placeholder="Folio de la solicitud"
              :open-on-focus="false"
              :data="solicitudesFilteredDataObj"
              field="folio"
              @select="
                (option) => (this.factura.id_solicitud = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </div>
          <div>
            <h3>Emisor:</h3>
            <input
              type="text"
              placeholder="Emisor"
              class="form-control mb-2 text-left"
              v-model="factura.emisor"
            />
          </div>
          <div>
            <h3>Total:</h3>
            <input
              type="number"
              min="0"
              step="0.01"
              placeholder="Total"
              class="form-control mb-2 text-left"
              v-model="factura.total"
            />
          </div>
          <div>
            <h3>Observaciones:</h3>
            <input
              type="text"
              placeholder="Observaciones"
              class="form-control mb-2 text-left"
              v-model="factura.observaciones"
            />
          </div>
          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    factura: {},
    status: {},
    solicitudes: {},
    forma_pagos: {},
    metodos: {},
    create: "",
  },
  data() {
    return {
      fecha: "",
      solicitud: "",
    };
  },
  computed: {
    solicitudesFilteredDataObj() {
      return this.solicitudes.filter((option) => {
        return String(option.folio).toLowerCase().indexOf(this.solicitud) >= 0;
      });
    },
  },
  mounted() {
    this.solicitudes.forEach((solicitud) => {
      if (solicitud.id === this.factura.id_solicitud) {
        this.solicitud = String(solicitud.folio);
      }
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_status: this.factura.id_status,
        id_metodo: this.factura.id_metodo,
        id_forma_pago: this.factura.id_forma_pago,
        id_solicitud: this.factura.id_solicitud,
        folio_fiscal: this.factura.folio_fiscal,
        emisor: this.factura.emisor,
        total: this.factura.total,
        observaciones: this.factura.observaciones,
      };
      axios.post("/facturas/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "La factura ha sido agregada correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al agregar la factura.");
        }
      });
    },
    update() {
      const params = {
        id_status: this.factura.id_status,
        id_metodo: this.factura.id_metodo,
        id_forma_pago: this.factura.id_forma_pago,
        id_solicitud: this.factura.id_solicitud,
        folio_fiscal: this.factura.folio_fiscal,
        emisor: this.factura.emisor,
        total: this.factura.total,
        observaciones: this.factura.observaciones,
        id: this.factura.id,
      };
      axios.put("/facturas/" + this.factura.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "La factura ha sido actualizada correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al actualizar la factura.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
