<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Folio Fiscal:</h3>
                        <input type="text" placeholder="Folio Fiscal" class="form-control mb-2 text-left " v-model="factura.folio_fiscal" disabled>
                    </div>
                    <div>
                        <h3>Solicitud:</h3>
                        <input type="number" placeholder="Solicitud" class="form-control mb-2 text-left " v-model="factura.solicitud.folio" disabled>
                    </div>
                    <div>
                        <h3>Emisor:</h3>
                        <input type="text" placeholder="Emisor" class="form-control mb-2 text-left " v-model="factura.emisor" disabled>
                    </div>
                    <div>
                        <h3>Total:</h3>
                        <input type="number" placeholder="Total" class="form-control mb-2 text-left " v-model="factura.total" disabled>
                    </div>
                    <div>
                        <h3>Forma de pago:</h3>
                        <input type="text" placeholder="Forma de pago" class="form-control mb-2 text-left " v-model="factura.forma_pago.nombre" disabled>
                    </div>
                    <div>
                        <h3>Metodo:</h3>
                        <input type="text" placeholder="Metodo" class="form-control mb-2 text-left " v-model="factura.metodo.nombre" disabled>
                    </div>
                    <div>
                        <h3>Status:</h3>
                        <input type="text" placeholder="Status" class="form-control mb-2 text-left " v-model="factura.status.concepto" disabled>
                    </div>
                    <div>
                        <h3>Observaciones:</h3>
                        <input type="text" placeholder="Observaciones" class="form-control mb-2 text-left " v-model="factura.observaciones" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['factura'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/facturas/edit/' + this.factura.id;
        }
    }
}
</script>

<style scoped>

</style>
