<template>
    <div>
        <br>
        <b-navbar>
            <!--            <template #brand>-->
            <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
            <!--                    <img-->
            <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
            <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
            <!--                    >-->
            <!--                </b-navbar-item>-->
            <!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
                <!--                <b-navbar-item  href="#">-->
                <!--                    Documentacion-->
                <!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--                <b-navbar-item tag="div">-->
                <!--                    <div class="buttons">-->
                <!--                        <a class="button is-primary">-->
                <!--                            <strong>Sign up</strong>-->
                <!--                        </a>-->
                <!--                        <a class="button is-light">-->
                <!--                            Log in-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Folio Fiscal</th>
        <th scope="col">Solicitud</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(factura, index) in lista_facturas" :key="factura.id">
        <th scope="row">{{ factura.id }}</th>
        <td>{{ factura.folio_fiscal }}</td>
        <td>{{ factura.solicitud.folio }}</td>
        <td>{{ factura.status.concepto }}</td>
        <td>{{ factura.total }}</td>
        <td>
          <button
            class="btn btn-info m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDetail(factura.id)"
          >
            Detalles
          </button>
          <button
            class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
            v-on:click="onClickEdit(factura.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDelete(factura.id, index)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
</template>

<script>
export default {
  name: "facturaTableComponent",
  props: {
    facturas: {},
  },
  data() {
    return {
      lista_facturas: this.facturas,
    };
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/facturas/create";
      },
    onClickDetail(id) {
      window.location.href = "/facturas/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/facturas/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar factura",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta factura? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/facturas/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "La factura ha sido eliminada exitosamente."
              );
              this.lista_facturas.splice(index, 1);
            } else {
              this.showErrorNotification(
                "La factura no pudo ser eliminada."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
