<template>
    <div>
        <br>
        <b-navbar>
            <!--            <template #brand>-->
            <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
            <!--                    <img-->
            <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
            <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
            <!--                    >-->
            <!--                </b-navbar-item>-->
            <!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
                <!--                <b-navbar-item  href="#">-->
                <!--                    Documentacion-->
                <!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--                <b-navbar-item tag="div">-->
                <!--                    <div class="buttons">-->
                <!--                        <a class="button is-primary">-->
                <!--                            <strong>Sign up</strong>-->
                <!--                        </a>-->
                <!--                        <a class="button is-light">-->
                <!--                            Log in-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(incidencia, index) in lista_incidencias" :key="incidencia.id">
            <th scope="row">{{ incidencia.id }}</th>
            <td>{{ incidencia.nombre }}</td>
            <td>
              <button
                class="btn btn-info m-1 col-xl-3 col-xs-12"
                v-on:click="onClickDetail(incidencia.id)"
              >
                Detalles
              </button>
              <button
                class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
                v-on:click="onClickEdit(incidencia.id)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger m-1 col-xl-3 col-xs-12"
                v-on:click="onClickDelete(incidencia.id, index)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</template>

<script>
export default {
  name: "incidenciaTableComponent",
  props: {
    incidencias: {},
  },
  data() {
    return {
      lista_incidencias: this.incidencias,
    };
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/incidencias/create";
      },
    onClickDetail(id) {
      window.location.href = "/incidencias/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/incidencias/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar incidencia",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta incidencia? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/incidencias/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "La incidencia fue eliminada exitosamente."
              );
              this.lista_incidencias.splice(index, 1);
            } else {
              this.showErrorNotification(
                "La incidencia no pudo ser eliminada."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
