<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Nombre:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="formapago.nombre">
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        formapago:{},
        create: ''
    },
    data(){
        return {
        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        save(){
            const params = {
                nombre: this.formapago.nombre,
            }
            axios.post('/formapagos/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La forma de pago ha sido agregada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregar la forma de pago.')
                }
            });
        },
        update() {
            const params = {
                nombre: this.formapago.nombre,
                id: this.formapago.id,
            }
            axios.put('/formapagos/'+this.formapago.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('La forma de pago ha sido actualizada correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar la forma de pago.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
