<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Solicitud:</h3>
                        <b-autocomplete
                            v-model="solicitud"
                            placeholder="Folio de la solicitud"
                            :open-on-focus="false"
                            :data="solicitudesFilteredDataObj"
                            field="folio"
                            @select="option => (this.paquete_solicitud.id_solicitud = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Paquete:</h3>
                        <b-autocomplete
                            v-model="paquete"
                            placeholder="Numero del paquete"
                            :open-on-focus="true"
                            :data="partidasFilteredDataObj"
                            field="numero"
                            @select="option => (this.paquete_solicitud.id_paquete = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        paquete_solicitud:{},
        paquetes:{},
        solicitudes:{},
        create: '',
    },
    data(){
        return {
            solicitud: '',
            paquete: '',
        }
    },
    computed: {
        partidasFilteredDataObj() {
            return this.paquetes.filter(option => {
                return (
                    String(option.numero)
                        .toLowerCase()
                        .indexOf(this.paquete) >= 0
                )
            })
        },
        solicitudesFilteredDataObj() {
            return this.solicitudes.filter(option => {
                return (
                    String(option.folio)
                        .toLowerCase()
                        .indexOf(this.solicitud) >= 0
                )
            })
        },
    },
    mounted() {
        this.solicitudes.forEach((solicitud) => {

            if (solicitud.id === this.paquete_solicitud.id_solicitud){
                this.solicitud = String(solicitud.folio);
            }
        });
        this.paquetes.forEach((paquete) => {
            if (paquete.id === this.paquete_solicitud.id_paquete) {
                this.paquete = String(paquete.numero);
            }
        });

    },
    created() {
    },
    methods:{
        save(){
            const params = {
                id_paquete: this.paquete_solicitud.id_paquete,
                id_solicitud: this.paquete_solicitud.id_solicitud,
            }
            axios.post('/paquetes_solicitudes/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El paquete ha sido agregado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregar el paquete.')
                }
            });
        },
        update() {
            const params = {
                id: this.paquete_solicitud.id,
                id_solicitud: this.paquete_solicitud.id_solicitud,
                id_paquete: this.paquete_solicitud.id_paquete,
            }
            axios.put('/paquetes_solicitudes/'+this.paquete_solicitud.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El paquete ha sido actualizado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar el paquete.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
