<template>
    <div>
        <br>
        <b-navbar>
<!--            <template #brand>-->
<!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
<!--                    <img-->
<!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
<!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
<!--                    >-->
<!--                </b-navbar-item>-->
<!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
<!--                <b-navbar-item  href="#">-->
<!--                    Documentacion-->
<!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
<!--                <b-navbar-item tag="div">-->
<!--                    <div class="buttons">-->
<!--                        <a class="button is-primary">-->
<!--                            <strong>Sign up</strong>-->
<!--                        </a>-->
<!--                        <a class="button is-light">-->
<!--                            Log in-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Solicitud</th>
                <th scope="col">Paquete</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="(paquete_solicitud, index) in lista_paquetes_solicitudes"
                :key="paquete_solicitud.id"
            >
                <th scope="row">{{ paquete_solicitud.id }}</th>
                <td>{{ paquete_solicitud.solicitud.folio }}</td>
                <td>{{ paquete_solicitud.paquete.numero }}</td>
                <td>
                    <button
                        class="btn btn-info m-1 col-xl-3 col-xs-12"
                        v-on:click="onClickDetail(paquete_solicitud.id)"
                    >
                        Detalles
                    </button>
                    <button
                        class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
                        v-on:click="onClickEdit(paquete_solicitud.id)"
                    >
                        Editar
                    </button>
                    <button
                        class="btn btn-danger m-1 col-xl-3 col-xs-12"
                        v-on:click="onClickDelete(paquete_solicitud.id, index)"
                    >
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
  name: "PaquetesSolicitudesTableComponent",
  props: {
    paquetes_solicitudes: {},
  },
  data() {
    return {
      lista_paquetes_solicitudes: this.paquetes_solicitudes,
    };
  },
  created() {},
  mounted() {},
  methods: {
    gotoCreate(){
        window.location.href = "/paquetes_solicitudes/create";
    },
    onClickDetail(id) {
      window.location.href = "/paquetes_solicitudes/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/paquetes_solicitudes/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar paquete",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> este paquete? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/paquetes_solicitudes/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "El paquete ha sido eliminado exitosamente."
              );
              this.lista_paquetes_solicitudes.splice(index, 1);
            } else {
              this.showErrorNotification(
                "El paquete no pudo ser eliminado."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
