<template>
  <table width="100%">
    <tr>
      <th>
        <div class="mr-4 mt-2">
          <b-field label="Nombre:">
            <b-input
              disabled
              v-model="anexo.nombre"
              placeholder="Nombre del Anexo"
            ></b-input>
          </b-field>
        </div>
      </th>
    </tr>

    <tr>
      <th>
        <div class="mr-4 mt-2">
          <b-field label="Solicitud:">
            <b-autocomplete
              disabled
              v-model="anexo.solicitud.folio"
              placeholder="Folio de la solicitud"
              :open-on-focus="true"
              :data="solicitudesFilteredDataObj"
              field="folio"
              @select="
                (option) => (this.anexo.id_solicitud = selected = option.id)
              "
            >
            </b-autocomplete>
          </b-field>
        </div>
      </th>
    </tr>

    <tr>
      <th colspan="3">
        <div class="row col-12">
          <div class="col-12 text-center">
            <button
              class="
                btn btn-secondary
                form-button
                m-3
                col-sm-12 col-lg-6
                border-dark
              "
              @click="gotoEdit()"
            >
              Editar
            </button>
          </div>
        </div>
      </th>
    </tr>
  </table>
</template>

<script>
export default {
  props: ["anexo"],
  data() {
    return {};
  },
  mounted() {},
  created() {},
  methods: {
    gotoEdit() {
      window.location.href = "/anexos/edit/" + this.anexo.id;
    },
  },
};
</script>

<style scoped>
</style>
