<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Número:</h3>
            <input
              type="text"
              placeholder="Número"
              class="form-control mb-2 text-left"
              v-model="proyecto.numero"
            />
          </div>
          <div>
            <h3>Nombre:</h3>
            <input
              type="text"
              placeholder="Nombre"
              class="form-control mb-2 text-left"
              v-model="proyecto.nombre"
            />
          </div>
          <div>
            <h3>Fondo:</h3>
            <b-autocomplete
                            v-model="fondo"
                            placeholder="Número del fondo"
                            :open-on-focus="true"
                            :data="fondosFilteredDataObj"
                            field="numero"
                            @select="option => (this.proyecto.id_fondo = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>

          </div>

          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    proyecto: {},
    fondos: {},
    create: "",
  },
  data() {
    return {
      fondo: '',
    };
  },
  computed: {
        fondosFilteredDataObj() {
            return this.fondos.filter(option => {
                return (
                    String(option.numero)
                        .toLowerCase()
                        .indexOf(this.fondo) >= 0
                )
            })
        },
    },
  mounted() {
    this.fondos.forEach((fondo) => {

            if (fondo.id === this.proyecto.id_fondo){
                this.fondo = String(fondo.numero);
            }
        });
  },
  created() {},
  methods: {
    save() {
      const params = {
        numero: this.proyecto.numero,
        nombre: this.proyecto.nombre,
        id_fondo: this.proyecto.id_fondo,
      };
      axios.post("/proyectos/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El proyecto ha sido agregado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al agregar el proyecto.");
        }
      });
    },
    update() {
      const params = {
        numero: this.proyecto.numero,
        nombre: this.proyecto.nombre,
        id_fondo: this.proyecto.id_fondo,
        id: this.proyecto.id,
      };
      axios.put("/proyectos/" + this.proyecto.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El proyecto ha sido actualizado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al actualizar el proyecto.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
