<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <table width="100%">
      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha:">
              <b-datepicker
                v-model="fecha"
                disabled
                locale="es-MX"
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Folio:">
              <b-input
                disabled
                expanded
                input-color="red"
                controls-position="compact"
                :controls="true"
                v-model="solicitud.folio"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Concepto:">
              <b-input
                v-model="solicitud.concepto"
                placeholder="Concepto"
                disabled
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Usuario solicitante:">
              <b-autocomplete
                disabled
                v-model="solicitud.user.name"
                placeholder="Ej. Juan"
                :keep-first="false"
                :open-on-focus="true"
                :data="usersFilteredDataObj"
                field="solicitud.concepto"
                type="text"
                @select="
                  (option) =>
                    (this.solicitud.id_usuario_solicitante = selected =
                      option.id)
                "
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Status:">
              <b-select
                disabled
                :placeholder="solicitud.status.concepto"
                expanded
                v-model="solicitud.status.concepto"
              >
                <option>
                  {{ solicitud.status.concepto }}
                </option>
              </b-select>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha de pago:">
              <b-datepicker
                disabled
                v-model="fecha_pago"
                locale="es-MX"
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Proyecto:">
              <b-autocomplete
                disabled
                placeholder="Nombre del proyecto"
                :keep-first="false"
                :open-on-focus="true"
                type="text"
                v-model="solicitud.proyecto.nombre"
                :data="proyectosFilteredDataObj"
                field="nombre"
                @select="
                  (option) =>
                    (this.solicitud.id_proyecto = selected = option.id)
                "
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fondo:">
              <b-autocomplete
                v-model="solicitud.fondo.nombre"
                disabled
                placeholder="Nombre del fondo"
                :open-on-focus="true"
                :data="fondosFilteredDataObj"
                field="nombre"
                @select="
                  (option) => (this.solicitud.id_fondo = selected = option.id)
                "
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Beneficiario:">
              <b-autocomplete
                v-model="solicitud.beneficiario.nombre"
                placeholder="Nombre del beneficiario"
                :open-on-focus="true"
                :data="beneficiariosFilteredDataObj"
                field="nombre"
                disabled
                @select="
                  (option) =>
                    (this.solicitud.id_beneficiario = selected = option.id)
                "
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Tipo:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.tipo"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Tipo Afin:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.tipo_afin"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Monto:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.monto"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Reintegro:">
              <b-input
                disabled
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.reintegro"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Orden de compra:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.orden_compra"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Solicitud afin:">
              <b-input
                disabled
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.solicitud_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Aprobación afin:">
              <b-input
                disabled
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.aprobacion_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Orden de compra afin:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.orden_compra_afin"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Recepción afin:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.recepcion_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Factura afin:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.factura_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Movimiento:">
              <b-input
                disabled
                v-model="solicitud.movimiento"
                placeholder="Movimiento"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Paquete finanzas:">
              <b-input
                expanded
                disabled
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.paquete_finanzas"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha de recibido Finanzas:">
              <b-datepicker
                v-model="recibido_finanzas"
                locale="es-MX"
                disabled
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Incidencia:">
              <b-autocomplete
                v-model="solicitud.incidencia.nombre"
                disabled
                placeholder="Nombre de la incidencia"
                :open-on-focus="true"
                :data="incidenciasFilteredDataObj"
                field="nombre"
                @select="
                  (option) =>
                    (this.solicitud.id_incidencia = selected = option.id)
                "
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th colspan="3">
          <div class="mr-4 mt-2">
            <b-field label="Observaciones">
              <b-input
                maxlength="200"
                type="textarea"
                disabled
                v-model="solicitud.observaciones"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th colspan="3">
          <div class="row col-12">
            <div class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="gotoEdit()"
              >
                Editar
              </button>
            </div>
          </div>
        </th>
      </tr>
    </table>
  </form>
</template>


<script>
export default {
  props: ["solicitud"],
  data() {
    return {
      fecha: null,
      fecha_pago: null,
      recibido_finanzas: null,
    };
  },

  mounted() {
    this.fecha = new Date(this.solicitud.fecha);
    this.fecha_pago = new Date(this.solicitud.fecha_pago);
    this.recibido_finanzas = new Date(this.solicitud.recibido_finanzas);
  },
  created() {},
  methods: {
    gotoEdit() {
      window.location.href = "/solicitudes/edit/" + this.solicitud.id;
    },
  },
};
</script>

<style scoped>
</style>
