<template>
  <div>
    <br />
    <b-navbar>
      <!--            <template #brand>-->
      <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
      <!--                    <img-->
      <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
      <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
      <!--                    >-->
      <!--                </b-navbar-item>-->
      <!--            </template>-->
      <template #start>
        <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
          Agregar
        </b-navbar-item>
        <!--                <b-navbar-item  href="#">-->
        <!--                    Documentacion-->
        <!--                </b-navbar-item>-->
      </template>

      <template #end>
        <b-field v-if="InputSearchFolio" label="Folio">
          <b-input
            placeholder="Ingresa el folio..."
            min="1"
            type="number"
            icon="magnify"
            icon-clickable
            @icon-click="searchFolio(0)"
            v-model="searchFolioInput"
            icon-right="close-circle"
            icon-right-clickable
            @icon-right-click="clearFolioInput"
          >
          </b-input>
        </b-field>
        <b-field v-if="InputSearchConcept" label="Concepto">
          <b-input
            placeholder="Ingresa el concepto..."
            type="search"
            icon="magnify"
            icon-clickable
            @icon-click="searchConcept(0)"
            v-model="searchConceptInput"
            icon-right="close-circle"
            icon-right-clickable
            @icon-right-click="clearConceptInput"
          >
          </b-input>
        </b-field>
        <b-navbar-dropdown
          v-if="!InputSearchFolio && !InputSearchConcept"
          label="Buscar"
        >
          <b-navbar-item @click.prevent="showSearchInputConcept" href="#">
            Concepto
          </b-navbar-item>
          <b-navbar-item @click.prevent="showSearchInputFolio" href="#">
            Folio
          </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-dropdown label="Ordenar">
          <b-navbar-item @click.prevent="orderBy('concepto')" href="#">
            Concepto
          </b-navbar-item>
          <b-navbar-item @click.prevent="orderBy('folio')" href="#">
            Folio
          </b-navbar-item>
          <b-navbar-item @click.prevent="orderBy('id')" href="#">
            Id
          </b-navbar-item>
        </b-navbar-dropdown>
        <!--                <b-navbar-item tag="div">-->
        <!--                    <div class="buttons">-->
        <!--                        <a class="button is-primary">-->
        <!--                            <strong>Sign up</strong>-->
        <!--                        </a>-->
        <!--                        <a class="button is-light">-->
        <!--                            Log in-->
        <!--                        </a>-->
        <!--                    </div>-->
        <!--                </b-navbar-item>-->
      </template>
    </b-navbar>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Folio</th>
          <th scope="col">Concepto</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(solicitud, index) in mySolicitudes" :key="solicitud.id">
          <th scope="row">{{ solicitud.id }}</th>
          <td>{{ solicitud.folio }}</td>
          <td>{{ solicitud.concepto }}</td>
          <td>{{ solicitud.status.concepto }}</td>
          <td>{{ new Date(solicitud.fecha).toLocaleDateString() }}</td>
          <td>
            <button
              class="btn btn-info m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDetail(solicitud.id)"
            >
              Detalles
            </button>
            <button
              class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
              v-on:click="onClickEdit(solicitud.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger m-1 col-xl-3 col-xs-12"
              v-on:click="onClickDelete(solicitud.id, index)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="col-md-1">
      <ul class="pagination">
        <li class="page-item" v-if="pagination.current_page > 1">
          <a class="page-link" href="#" @click.prevent="changePage(1)">
            <span>Inicio</span>
          </a>
        </li>
        <li class="page-item" v-if="pagination.current_page > 1">
          <a
            class="page-link"
            href="#"
            @click.prevent="changePage(pagination.current_page - 1)"
          >
            <span>Atras</span>
          </a>
        </li>
        <li
          class="page-item"
          v-for="page in pagesNumber"
          v-bind:class="[page === isActived ? 'active' : '']"
        >
          <a class="page-link" href="#" @click.prevent="changePage(page)">
            {{ page }}
          </a>
        </li>
        <li
          class="page-item"
          v-if="pagination.current_page < pagination.last_page"
        >
          <a
            class="page-link"
            href="#"
            @click.prevent="changePage(pagination.current_page + 1)"
          >
            <span>Siguiente</span>
          </a>
        </li>
        <li
          class="page-item"
          v-if="pagination.current_page < pagination.last_page"
        >
          <a
            class="page-link"
            href="#"
            @click.prevent="changePage(pagination.last_page)"
          >
            <span>Final</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "SolicitudTableComponent",
  props: {
    solicitudes: {},
    paginate: {},
  },
  data() {
    return {
      mySolicitudes: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0,
      },
      offset: 1,
      InputSearchFolio: false,
      InputSearchConcept: false,
      sorted: false,
      searchFolioInput: "",
      searchConceptInput: "",
      toSort: "",
    };
  },
  created() {
    this.mySolicitudes = this.solicitudes.data;
    this.pagination = this.paginate;
  },
  mounted() {},
  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }

      let from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      let to = from + (this.offset + 2);
      if (to > this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      let pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    },
  },
  methods: {
    orderBy(column) {
      this.sorted = true;
      this.toSort = column;
      if (this.InputSearchFolio) {
        this.searchFolio(0, column);
      } else if (this.InputSearchConcept) {
        this.searchConcept(0, column);
      } else {
        this.getSolicitudes(0, column);
      }
    },
    clearFolioInput() {
      this.searchFolioInput = "";
      this.getSolicitudes(0, "");
      this.InputSearchFolio = !this.InputSearchFolio;
    },
    clearConceptInput() {
      this.searchFolioConcept = "";
      this.getSolicitudes(0);
      this.InputSearchConcept = !this.InputSearchConcept;
    },
    searchFolio(page, columnToOrder) {
      const url = "/solicitudes/buscar";
      const config = {
        params: {
          column: "folio",
          value: this.searchFolioInput,
          page: page,
          order: columnToOrder,
        },
      };
      axios.get(url, config).then((response) => {
        this.mySolicitudes = response.data.solicitudes.data;
        this.pagination = response.data.pagination;
      });
    },
    searchConcept(page, columnToOrder) {
      const url = "/solicitudes/buscar";
      const config = {
        params: {
          column: "concepto",
          value: this.searchConceptInput.toLowerCase(),
          page: page,
          order: columnToOrder,
        },
      };
      axios.get(url, config).then((response) => {
        this.mySolicitudes = response.data.solicitudes.data;
        this.pagination = response.data.pagination;
      });
    },
    showSearchInputFolio() {
      this.InputSearchFolio = !this.InputSearchFolio;
    },
    showSearchInputConcept() {
      this.InputSearchConcept = !this.InputSearchConcept;
    },
    changePage(page) {
      this.pagination.current_page = page;
      if (this.InputSearchFolio) {
        this.searchFolio(page, this.toSort);
      } else if (this.InputSearchConcept) {
        this.searchConcept(page, this.toSort);
      } else {
        this.getSolicitudes(page, this.toSort);
      }
    },
    getSolicitudes(page, columnToOrder) {
      let url = "/solicitudes";
      const config = {
        params: {
          page: page,
          order: columnToOrder,
        },
      };
      axios.get(url, config).then((response) => {
        this.mySolicitudes = response.data.solicitudes.data;
        this.pagination = response.data.pagination;
      });
    },
    gotoCreate() {
      window.location.href = "/solicitudes/create";
    },
    onClickDetail(id) {
      window.location.href = "/solicitudes/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/solicitudes/edit/" + id;
    },
    onClickDelete(id, index) {
      this.$buefy.dialog.confirm({
        title: "Eliminar solicitud",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta solicitud? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          this.mySolicitudes.splice(index, 1);
          axios.delete("/solicitudes/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "La solicitud ha sido eliminada exitosamente."
              );
            } else {
              this.showErrorNotification("La solicitud no pudo ser eliminada.");
            }
          });
        },
      });
    },
  },
};
</script>

<style scoped>
</style>
