<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Razon social:</h3>
            <input
              type="text"
              placeholder="Razon social"
              class="form-control mb-2 text-left"
              v-model="provedor.razon_social"
            />
          </div>
          <div>
            <h3>RFC:</h3>
            <input
              type="text"
              placeholder="RFC"
              class="form-control mb-2 text-left"
              v-model="provedor.rfc"
            />
          </div>
          <div>
            <h3>Cuenta:</h3>
            <input
              type="text"
              placeholder="Cuenta"
              class="form-control mb-2 text-left"
              v-model="provedor.cuenta"
            />
          </div>
          <div>
            <h3>Dirección:</h3>
            <input
              type="text"
              placeholder="Dirección"
              class="form-control mb-2 text-left"
              v-model="provedor.direccion"
            />
          </div>
          <div>
            <h3>Correo:</h3>
            <input
              type="text"
              placeholder="Correo"
              class="form-control mb-2 text-left"
              v-model="provedor.correo"
            />
          </div>
          <div>
            <h3>Teléfono:</h3>
            <input
              type="text"
              placeholder="Teléfono"
              class="form-control mb-2 text-left"
              v-model="provedor.telefono"
            />
          </div>
          <div>
            <h3>Observaciones:</h3>
            <input
              type="text"
              placeholder="Observaciones"
              class="form-control mb-2 text-left"
              v-model="provedor.observaciones"
            />
          </div>
          <div>
            <h3>Banco:</h3>
            <b-select
              v-model="provedor.id_banco"
              placeholder="Selecciona el bancos"
            >
              <option v-for="banco in bancos" :value="banco.id" :key="banco.id">
                {{ banco.nombre }}
              </option>
            </b-select>
          </div>
          <div>
            <h3>Clabe:</h3>
            <input
              type="text"
              placeholder="Clabe"
              class="form-control mb-2 text-left"
              v-model="provedor.clabe"
            />
          </div>
          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark"
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    provedor: {},
    bancos: {},
    create: "",
  },
  data() {
    return {};
  },
  mounted() {},
  created() {},
  methods: {
    save() {
      const params = {
        razon_social: this.provedor.razon_social,
        rfc: this.provedor.rfc,
        cuenta: this.provedor.cuenta,
        direccion: this.provedor.direccion,
        correo: this.provedor.correo,
        telefono: this.provedor.telefono,
        observaciones: this.provedor.observaciones,
        id_banco: this.provedor.id_banco,
        clabe: this.provedor.clabe,
      };
      axios.post("/provedores/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El provedor ha sido agregado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al agregar el provedor.");
        }
      });
    },
    update() {
      const params = {
        razon_social: this.provedor.razon_social,
        rfc: this.provedor.rfc,
        cuenta: this.provedor.cuenta,
        direccion: this.provedor.direccion,
        correo: this.provedor.correo,
        telefono: this.provedor.telefono,
        observaciones: this.provedor.observaciones,
        id_banco: this.provedor.id_banco,
        clabe: this.provedor.clabe,
        id: this.provedor.id,
      };
      axios.put("/provedores/" + this.provedor.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification("El provedor ha sido actualizado correctamente.");
        } else {
          this.showErrorNotification("Hubo un error al actualizar el provedor.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
