<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Razon social:</h3>
                        <input type="text" placeholder="Razon social" class="form-control mb-2 text-left " v-model="provedor.razon_social" disabled>
                    </div>
                    <div>
                        <h3>RFC:</h3>
                        <input type="text" placeholder="RFC" class="form-control mb-2 text-left " v-model="provedor.rfc" disabled>
                    </div>
                    <div>
                        <h3>Cuenta:</h3>
                        <input type="text" placeholder="Cuenta" class="form-control mb-2 text-left " v-model="provedor.cuenta" disabled>
                    </div>
                    <div>
                        <h3>Dirección:</h3>
                        <input type="text" placeholder="Dirección" class="form-control mb-2 text-left " v-model="provedor.direccion" disabled>
                    </div>
                    <div>
                        <h3>Correo:</h3>
                        <input type="text" placeholder="Correo" class="form-control mb-2 text-left " v-model="provedor.correo" disabled>
                    </div>
                    <div>
                        <h3>Teléfono:</h3>
                        <input type="text" placeholder="Teléfono" class="form-control mb-2 text-left " v-model="provedor.telefono" disabled>
                    </div>
                    <div>
                        <h3>Observaciones:</h3>
                        <input type="text" placeholder="Observaciones" class="form-control mb-2 text-left " v-model="provedor.observaciones" disabled>
                    </div>
                    <div>
                        <h3>Banco:</h3>
                        <input type="text" placeholder="Banco" class="form-control mb-2 text-left " v-model="provedor.banco.nombre" disabled>
                    </div>
                    <div>
                        <h3>Clabe:</h3>
                        <input type="text" placeholder="Clabe" class="form-control mb-2 text-left " v-model="provedor.clabe" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['provedor'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/provedores/edit/' + this.provedor.id;
        }
    }
}
</script>

<style scoped>

</style>
