 <template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Nombre:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="banco.nombre" disabled>
                    </div>
                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['banco'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/bancos/edit/' + this.banco.id;
        }
    }
}
</script>

<style scoped>

</style>
