<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Solicitud:</h3>
            <b-autocomplete
              v-model="solicitud"
              placeholder="Folio de la solicitud"
              :open-on-focus="false"
              :data="solicitudesFilteredDataObj"
              field="folio"
              @select="
                (option) =>
                  (this.complemento_pago.id_solicitud = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </div>
          <div>
            <h3>Fecha de Pago:</h3>
            <input
              type="date"
              placeholder="Fecha de Pago:"
              class="form-control mb-2 text-left"
              v-model="fecha_pago"
            />
          </div>
          <div>
            <h3>Factura de Ingreso:</h3>
            <input
              type="text"
              placeholder="Factura de Ingreso"
              class="form-control mb-2 text-left"
              v-model="complemento_pago.factura_ingreso"
            />
          </div>
          <div>
            <h3>Observaciones:</h3>
            <input
              type="text"
              placeholder="Observaciones"
              class="form-control mb-2 text-left"
              v-model="complemento_pago.observaciones"
            />
          </div>
          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    complemento_pago: {},
    solicitudes: {},
    create: "",
  },
  data() {
    return {
      fecha_pago: "",
      solicitud: "",
    };
  },
  computed: {
    solicitudesFilteredDataObj() {
      return this.solicitudes.filter((option) => {
        return String(option.folio).toLowerCase().indexOf(this.solicitud) >= 0;
      });
    },
  },
  mounted() {
    this.solicitudes.forEach((solicitud) => {
      if (solicitud.id === this.complemento_pago.id_solicitud) {
        this.solicitud = String(solicitud.folio);
      }
    });
    this.fecha_pago = this.complemento_pago.fecha_pago
      .split("T")[0]
      .split("-")
      .join("-");
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_solicitud: this.complemento_pago.id_solicitud,
        fecha_pago: this.fecha_pago,
        factura_ingreso: this.complemento_pago.factura_ingreso,
        observaciones: this.complemento_pago.observaciones,
      };
      axios.post("/complemento_pagos/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El complemento de pago ha sido agregado correctamente."
          );
        } else {
          this.showErrorNotification(
            "Hubo un error al agregarel complemento de pago."
          );
        }
      });
    },
    update() {
      const params = {
        id_solicitud: this.complemento_pago.id_solicitud,
        fecha_pago: this.fecha_pago,
        factura_ingreso: this.complemento_pago.factura_ingreso,
        observaciones: this.complemento_pago.observaciones,
        id: this.complemento_pago.id,
      };
      axios
        .put("/complemento_pagos/" + this.complemento_pago.id, params)
        .then((response) => {
          let information = "";
          information = response.data.information;
          if (information === "good") {
            this.showSuccessNotification(
              "El complemento de pago ha sido actualizado correctamente."
            );
          } else {
            this.showErrorNotification(
              "Hubo un error al actualizar el complemento de pago."
            );
          }
        });
    },
  },
};
</script>

<style scoped>
</style>
