<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Solicitud:</h3>
                        <input type="text" placeholder="Solicitud" class="form-control mb-2 text-left " v-model="complemento_pago.solicitude.folio" disabled>
                    </div>
                    <div>
                        <h3>Fecha de pago:</h3>
                        <input type="text" placeholder="Fecha de pago" class="form-control mb-2 text-left " v-model="new Date(complemento_pago.fecha_pago).toLocaleDateString()" disabled>
                    </div>
                    <div>
                        <h3>Factura de ingreso:</h3>
                        <input type="text" placeholder="Referencia" class="form-control mb-2 text-left " v-model="complemento_pago.factura_ingreso" disabled>
                    </div>
                    <div>
                        <h3>Observaciones:</h3>
                        <input type="text" placeholder="Observaciones" class="form-control mb-2 text-left " v-model="complemento_pago.observaciones" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['complemento_pago'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/complemento_pagos/edit/' + this.complemento_pago.id;
        }
    }
}
</script>

<style scoped>

</style>
