<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Proyecto:</h3>
            <b-autocomplete
              v-model="proyecto"
              placeholder="Nombre del proyecto"
              :open-on-focus="true"
              :data="proyectosFilteredDataObj"
              field="nombre"
              @select="
                (option) =>
                  (this.saldo_proyecto.id_proyecto = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </div>
          <div>
            <h3>Fondo:</h3>
            <b-autocomplete
              v-model="fondo"
              placeholder="Nombre del fondo"
              :open-on-focus="true"
              :data="fondosFilteredDataObj"
              field="nombre"
              @select="
                (option) =>
                  (this.saldo_proyecto.id_fondo = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </div>
          <div>
            <h3>Inicial:</h3>
            <input
              type="number"
              min="0"
              step="0.01"
              placeholder="Tipo"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.inicial"
            />
          </div>
          <div>
            <h3>Capturado:</h3>
            <input
              type="number"
              min="0"
              step="0.01"
              placeholder="Capturado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.capturado"
            />
          </div>
          <div>
            <h3>Solicitado:</h3>
            <input
              min="0"
              step="0.01"
              type="number"
              placeholder="Solicitado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.solicitado"
            />
          </div>
          <div>
            <h3>Pagado:</h3>
            <input
              min="0"
              step="0.01"
              type="number"
              placeholder="Pagado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.pagado"
            />
          </div>
          <div>
            <h3>Compensado:</h3>
            <input
              min="0"
              type="number"
              step="0.01"
              placeholder="Compensado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.compensado"
            />
          </div>
          <div>
            <h3>Porcentaje compensado:</h3>
            <input
              min="0"
              type="number"
              step="0.01"
              placeholder="Porcentaje compensado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.porcentaje_compensado"
            />
          </div>
          <div>
            <h3>Saldo:</h3>
            <input
              type="number"
              step="0.01"
              min="0"
              placeholder="Saldo"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.saldo"
            />
          </div>
          <div>
            <h3>Comprobado:</h3>
            <input
              min="0"
              type="number"
              step="0.01"
              placeholder="Comprobado"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.comprobado"
            />
          </div>
          <div>
            <h3>Adeudo:</h3>
            <input
              min="0"
              type="number"
              step="0.01"
              placeholder="Adeudo"
              class="form-control mb-2 text-left"
              v-model="saldo_proyecto.adeudo"
            />
          </div>
          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    saldo_proyecto: {},
    proyectos: {},
    fondos: {},
    create: "",
  },
  data() {
    return {
      name: "",
      proyecto: "",
      fondo: "",
      selected: null,
    };
  },
  computed: {
    proyectosFilteredDataObj() {
      return this.proyectos.filter((option) => {
        return (
          option.nombre.toLowerCase().indexOf(this.proyecto.toLowerCase()) >= 0
        );
      });
    },
    fondosFilteredDataObj() {
      return this.fondos.filter((option) => {
        return (
          option.nombre.toLowerCase().indexOf(this.fondo.toLowerCase()) >= 0
        );
      });
    },
  },
  mounted() {
    this.proyectos.forEach((proyecto) => {
      if (proyecto.id === this.saldo_proyecto.id_proyecto)
        this.proyecto = proyecto.nombre;
    });
    this.fondos.forEach((fondo) => {
      if (fondo.id === this.saldo_proyecto.id_fondo) this.fondo = fondo.nombre;
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_proyecto: this.saldo_proyecto.id_proyecto,
        id_fondo: this.saldo_proyecto.id_fondo,
        inicial: this.saldo_proyecto.inicial,
        capturado: this.saldo_proyecto.capturado,
        solicitado: this.saldo_proyecto.solicitado,
        pagado: this.saldo_proyecto.pagado,
        porcentaje_compensado: this.saldo_proyecto.porcentaje_compensado,
        saldo: this.saldo_proyecto.saldo,
        compensado: this.saldo_proyecto.compensado,
        comprobado: this.saldo_proyecto.comprobado,
        adeudo: this.saldo_proyecto.adeudo,
      };
      axios.post("/saldo_proyectos/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El saldo ha sido agregado correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al agregar el saldo.");
        }
      });
    },
    update() {
      const params = {
        id_proyecto: this.saldo_proyecto.id_proyecto,
        id_fondo: this.saldo_proyecto.id_fondo,
        inicial: this.saldo_proyecto.inicial,
        capturado: this.saldo_proyecto.capturado,
        solicitado: this.saldo_proyecto.solicitado,
        pagado: this.saldo_proyecto.pagado,
        porcentaje_compensado: this.saldo_proyecto.porcentaje_compensado,
        saldo: this.saldo_proyecto.saldo,
        compensado: this.saldo_proyecto.compensado,
        comprobado: this.saldo_proyecto.comprobado,
        adeudo: this.saldo_proyecto.adeudo,
        id: this.saldo_proyecto.id,
      };
      axios
        .put("/saldo_proyectos/" + this.saldo_proyecto.id, params)
        .then((response) => {
          let information = "";
          information = response.data.information;
          if (information === "good") {
            this.showSuccessNotification(
              "El saldo ha sido actualizado correctamente."
            );
          } else {
            this.showErrorNotification("Hubo un error al actualizar el saldo.");
          }
        });
    },
  },
};
</script>

<style scoped>
</style>
